.footerBody{
    width: 100%;
    height: 10rem;
    background-color: #53504B;
    margin-top: -1.5rem;
}

  .column1 {
    width: 20.33%;
    float: left;
    padding: 10px;
    box-sizing: border-box;
    margin-left: 4rem;
    margin-top: 4.5rem;
    color: #f0f0f0;
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
    display: flex;
 
  }

  .column2 {
    width: 30.33%;
    float: left;
    padding: 10px;
    box-sizing: border-box;
    margin-left: 2.5rem;
    margin-top: 4.5rem;
    color: #f0f0f0;
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
    display: flex;
    word-spacing: 1em;
  }

  .column3 {
    width: 15%;
    float: right;
    padding: 10px;
    box-sizing: border-box;
    margin-top: 4.5rem;
    color: #f0f0f0;
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
    display: flex;
  }



  .row::after {
    content: "";
    clear: both;
    display: table;
  }