.body{
    width: 100%;
    height: auto;
    background-color: #f7f5f5;
}

.landingPage{
    width: 100%;
    height: 47rem;
    background-color: #53504B;
}

.image1{
    border-radius: 4px;
    margin-top: 7rem;
    float: right;
    margin-right: 3rem;
}

.image2{
    border-radius: 4px;
    float: right;
    width: 20rem;
    margin-top: 11.7rem;
}


.firstcontent{
    margin-top: 11rem;
    margin-left: 3rem;
    color: white;
    font-size: 75px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
    
}

.text{
    margin-left: 3rem;
    margin-top: 1rem;
    color: rgb(200, 180, 180);
    font-family:  Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
    line-height: 1.2;

}

.more{
    margin-left: 9rem;
    margin-top: 5rem;
    color: rgb(255, 255, 255);
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    
}

.blackText{
    margin-left: 10rem;
    color: rgb(160, 147, 147);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    margin-top: 12rem;
    line-height: 1.6;

}

.button{
    width: 120px;
    height: 60px;
    background: #F2C798;
    border-radius: 50px;
    margin-left: 1rem;
    border: #000000;
    box-shadow: 10px 15px 15px rgba(0, 0, 0, 0.021);
    cursor: pointer;
    border-color: #000000;
}

.button:hover{
    background-color: #D9D9D9;
    cursor: pointer;
}


.row1{
    display: inline-block;
}

.row2{
    display: inline-block;
}

/* subContent1 */

.topic2{
    margin-top: 20rem;
    color: #F2C798;
    font-size: 43px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
    display: flex;
    justify-content: center;
    align-items: center;
}

.topic2Content{
    margin-top: 2rem;
    color: #7c7976;
    font-size: 65px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.image4{
    border-radius: 4px;
    margin-top: 7rem;
}

.subContent1Topic1{
    margin-top: 15rem;
    margin-left: 3rem;
    margin-right: 3rem;
    color: rgb(51, 51, 51);
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
}

.subContent1-text{
    margin-left: 3rem;
    margin-top: 6rem;
    color: rgb(160, 147, 147);
    font-family:  Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    text-align: justify;
    line-height: 1.6;
}

.subContent1-more{
    margin-left: 9.3rem;
    margin-top: 3rem;
    color: rgb(104, 88, 88);
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
}

.subContent1-button{
    width: 120px;
    height: 60px;
    background: #D9D9D9;
    border-radius: 50px;
    margin-left: 1.3rem;
    border: #000000 0.5px;
    box-shadow: 10px 15px 15px rgba(0, 0, 0, 0.021);
    cursor: pointer;
    border-color: #000000;
}
.subContent1-button:hover{
    background-color: #F2C798;
    cursor: pointer;
}

/* subContent2 */

.subContent1Topic2{
    margin-top: 15rem;
    margin-left: 4rem;
    margin-right: 3rem;
    color: rgb(51, 51, 51);
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
}

.image3{
    border-radius: 4px;
    margin-top: 7rem;
    float: right;
}

.subContent2-button{
    width: 120px;
    height: 60px;
    background: #D9D9D9;
    border-radius: 50px;
    margin-left: 1.3rem;
    border: #000000 0.5px;
    box-shadow: 10px 15px 15px rgba(0, 0, 0, 0.021);
    cursor: pointer;
    border-color: #000000;
}

.subContent2-button:hover{
    background-color: #F2C798;
    cursor: pointer;
}

.subContent2-more{
    margin-left: 12.3rem;
    margin-top: 3rem;
    color: rgb(104, 88, 88);
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
}

.subContent2-text{
    margin-left: 4.4rem;
    margin-top: 6rem;
    color: rgb(160, 147, 147);
    font-family:  Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    text-align: justify;
    line-height: 1.6;
}



.image5{
    width: 100%;
    margin-top: 6rem;
    
}

/* serach bar */

.search {
    position: relative;
    display: inline-block;
  }
  
  .image5 {
    display: block;
    width: 100%;
    height: 100%;
    background-color: #c9b9a8;
  }
  
  .overlay {
    margin-top: 6rem;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 87%;
    color: white;
    font-size: 24px;
    text-align: center;
    background-color: rgba(78, 78, 78, 0.5);
  }
  
  .overlay p {
    margin: 0;
  }

  .search-topic{
    margin-top: 8rem;
    color: #fabe7d;
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .search-content{
    margin-left: 3rem;
    margin-top: 1rem;
    color: rgb(223, 223, 223);
    font-family:  Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    text-align: justify;
    line-height: 1.6;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

/* cards section */

.cards{
    width: 100%;
    height: 53rem;
    background: #F2C798;
    margin-top: -1rem;

}

.cardTopic{
    color: #7c7976;
    font-size: 65px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 3rem;
}

/* cards lists */

.card-container2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    text-align: center;
    gap: 2rem;
    margin-top: 2rem;
}
  

.cardList {
    width: 21%;
    margin-bottom: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    background-color: white;
    
}
  
  .cardList:hover {
    box-shadow: 0 0 50px rgba(194, 16, 16, 0.2);
  }
  
  /* .card:hover {
    box-shadow: 0 0 1px rgba(2, 0, 0, 0.5);
  }
   */
  .card-image {
    position: relative;
    height: 250px;
    overflow: hidden;
  }
  
  .card-image img {
    position: absolute;
    top: 46%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
    margin-top: 10px;
  }
  
  .card-content {
    padding: 5px;
  }
  
  .card-title {
    margin-top: 2rem;
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
    color: #63635b;
  }
  
  .card-description {
    margin-bottom: 0;
    margin-left: 2px;
    margin-right: 2px;
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 4rem;
    color: #52504e;
  }

  .more-cards{
    margin-top: 3rem;
    color: rgb(54, 53, 53);
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    margin-left: 4.5rem;    
}

  .button-cards{
    width: 120px;
    height: 60px;
    background: #D9D9D9;
    border-radius: 50px;
    margin-left: 1.3rem;
    border: #000000 0.5px;
    box-shadow: 10px 15px 15px rgba(0, 0, 0, 0.021);
    cursor: pointer;
    border-color: #000000;
  }

  .button-cards:hover{
    background-color: #ffffff;
    cursor: pointer;
}


  /* more details */

.moreDetails{
    width: 100%;
    height: 30rem;
}

  .row-moreDetails{
    display: flex;
  }

  .col-moreDetails{
    flex: 1;
  }

  .col-moreDetails4{
    flex: 2;
  }

  .moreDetails-main-topic{
    margin-top: 5rem;
    color: #53504c;
    font-size: 23px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
    display: flex;
    justify-content: center;
    align-items: center;
}

.moreDetails-sub1{
    margin-top: 5rem;
    color: #6d6a67;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
    display: flex;
    justify-content: center;
    align-items: center;
}

.moreDetails-sub3{
    margin-top: 2rem;
    color: #6d6a67;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.moreDetails-sub2{
    margin-top: 5px;
    color: #adaba9;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 3rem;
}

.moreDetails-sub32{
    margin-top: 5px;
    color: #adaba9;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 4rem;
}

.moreDetails-sub2{
    margin-top: 5px;
    color: #adaba9;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 3rem;
}

.moreDetails-Business-country{
    margin-top: 5rem;
    color: #6d6a67;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
}

.moreDetails-Business-country2{
    margin-top: 2rem;
    color: #6d6a67;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1.8rem;

}

.moreDetails-Business-mail{
    margin-top: 5px;
    color: #adaba9;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5.5rem;
}

.moreDetails-contact{
    margin-top: 5rem;
    color: #6d6a67;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
}

.moreDetails-apply{
    margin-top: 2rem;
    color: #6d6a67;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1rem;
}

.moreDetails-mail{
    margin-top: 5px;
    color: #adaba9;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5.5rem;
}

.moreDetails-main-topic2{
    margin-top: 5rem;
    color: #53504c;
    font-size: 23px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
    margin-left: 7rem;
}

.moreDetails-main-topic2-content{
    margin-left: 7rem;
    margin-top: 5rem;
    margin-top: 3.5rem;
    color: #7c7976;
    font-size: 65px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;
   
}

.card-container4{
    height: 10rem;
    width: 28rem;
    margin-top: 4rem;
    margin-left: 4rem;
    background-color: #ffffff;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;

}

.reach{
    margin-left: 3rem;
    margin-top: 5rem;
    color: rgb(94, 90, 90);
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    text-decoration: underline;
}

.reach-button{
    width: 120px;
    height: 60px;
    background: #F2C798;
    border-radius: 50px;
    margin-left: 15px;
    margin-top: 3.5rem;
    border: #000000;
    box-shadow: 10px 15px 15px rgba(0, 0, 0, 0.021);
    cursor: pointer;
    border-color: #000000;
}

.reach-button:hover{
    background-color: #D9D9D9;
    cursor: pointer;
}


.row-reach {
    display: flex;
    justify-content: space-between;
  }
  
  .column-reach {
    width: 45%;
  }

    
  .column-reach1 {
    width: 60%;
  }